body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

div {
  background-color: hsl(0, 0%, 100%);
  padding: 15px 15px 15px 15px;
  margin: 170px 750px;
  border-radius: 15px;
}

img {
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  width: 0px;
}

h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  margin: auto;
  padding: 20px 15px 20px 15px;
  text-align: center;
  width: 80%;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  margin: auto;
  padding: 0 10px 20px 10px;
  text-align: center;
  width: 65%;
}

.attribution {
  text-align: center;
  margin:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
