body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

div {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin: 10.625rem 46.875rem;
  border-radius: 1rem;
}

img {
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
  width: 21.875rem;
}

h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  margin: auto;
  padding: 1.25rem 0.625rem;
  text-align: center;
  width: 80%;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  padding: 0 0.625rem  1.25rem 0.625rem;
  text-align: center;
  width: 65%;
}

.attribution {
  text-align: center;
  margin:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
